<?xml version="1.0" encoding="utf-8"?>
<Roslynator>
  <Settings>
    <General>
      <PrefixFieldIdentifierWithUnderscore>false</PrefixFieldIdentifierWithUnderscore>
    </General>
    <Refactorings>
      <Refactoring Id="RR0015" IsEnabled="false" />
      <Refactoring Id="RR0088" IsEnabled="false" />
      <Refactoring Id="RR0138" IsEnabled="false" />
      <Refactoring Id="RR0171" IsEnabled="false" />
      <Refactoring Id="RR0188" IsEnabled="false" />
    </Refactorings>
  </Settings>
</Roslynator>