<?xml version="1.0" encoding="utf-8"?>
<Roslynator>
  <Settings>
    <General>
      <PrefixFieldIdentifierWithUnderscore>false</PrefixFieldIdentifierWithUnderscore>
    </General>
    <Refactorings>
      <Refactoring Id="RR0010" IsEnabled="false" />
      <Refactoring Id="RR0012" IsEnabled="false" />
      <Refactoring Id="RR0015" IsEnabled="false" />
      <Refactoring Id="RR0066" IsEnabled="false" />
      <Refactoring Id="RR0088" IsEnabled="false" />
      <Refactoring Id="RR0138" IsEnabled="false" />
      <Refactoring Id="RR0171" IsEnabled="false" />
      <Refactoring Id="RR0188" IsEnabled="false" />
    </Refactorings>
    <CodeFixes>
      <CodeFix Id="CS0127.RCF0052" IsEnabled="false" />
      <CodeFix Id="CS0127.RCF0057" IsEnabled="false" />
      <CodeFix Id="CS1997.RCF0052" IsEnabled="false" />
      <CodeFix Id="CS1997.RCF0057" IsEnabled="false" />
    </CodeFixes>
  </Settings>
</Roslynator>